.services {
    background:  #f2e7e0e5;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .services .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
  }
  
  .services .card i {
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;
  }
  
  .services .card .card-body {
    font-weight: 600;
  }
  
  .services .card.card-body h3 {
    text-align: center;
  }



  /* about section start  */
  .about {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background: #f9f9f9;
  }
  
  .about .card {
    border-radius: 10px;
  }
  
  .about .card img {
    border-radius: 10px;
  }
  
  .about h2 {
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .about p {
    font-size: 500;
  }
  
  #about-btn {
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  #about-btn:hover {
    width: 170px;
  }
  
